body{
  margin: 0%;
  padding: 0%;
}

img{
  width: 1000px;
  height: 500px;
  margin-top: 60px;
}

.btn_box{
display: flex;
align-items: center;
justify-content: center;
}

i{
  font-size: 70px;
  outline: none;
  background: transparent;
  border: none;
  text-align: center;
}