body{
    margin: 0%;
    padding: 0%;
}
/* 
.sidebar_contianer{
visibility: hidden;
} */
.bar{
 visibility: hidden;
}


.btn{
    position: absolute;
    left: 90%;
    width: 50px;
    height: 60px;
    font-size: 40px;
    color: blue;
    border: none;
    background-color:lightgreen;
   box-sizing: border-box;
  transition: 800ms;

}

.btn:hover{
height: 120px;
transition: 900ms;
width: 100px;
font-size: 80px;
}

main{
    padding: 10px;
    border: none ;
    width: 300px;
    height:800px;
    background-color: lightgrey;
    cursor: pointer;
    transition: all -0.20s linear;
   position: relative;
}

main:hover{
    background-color:skyblue;
}


div,.heading{
    font-size: 30px;
}


.add{
    position: absolute;
    right: 3%;
    font-size: 60px;
    color: red;
}
.add:hover{
   transform: rotate3d(1,1,1,90deg);
  

}
ul{
   
    font-size: 30px;
    
}






