h1{
    text-align: center;
    font-size: 50px;
    color:rgb(47, 167, 223);
    text-shadow: 5px 5px 5px ;
    text-decoration: underline;
    text-decoration-style:dotted;
}

h2{
    text-align: center;
    font-size: 40px;
    margin: 5px;
    color: red;
    
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    scroll-behavior: auto;
    cursor: pointer;
}

button{
    width:100px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    background-color: pink;
  box-shadow: 5px 10px 5px;
  transition: 1s;
}

button:hover{
    border-radius: 50%;
    transition: 1s;
   background-color:chocolate;
}

main{
    background-color:pink ;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    justify-content: center;
    align-items: center;
   justify-items: center;
   
}


center img{
    text-align: center;
    margin: 20px;
    width: 240px;
    height: 240px;
    background-color: antiquewhite;
}

center{
    font-size: 30px;
    color: white;

}

p{
   margin-left: 10px;
    
    text-align: justify;
}

div div{
    text-align: center;
    font-size: 30px;
    color: white;
   
}







